.sign-up-page .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-page .box-container form{
    width: 40%;
    box-shadow: 0 0 5px #b7b7b7;
    padding: 30px ;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px){
    .sign-up-page .box-container form{
        width: 85%;
    }
}

.sign-up-page .box-container form input{
    width: 100%;
    height: 55px;
    padding: 10px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
}

.sign-up-page .box-container form .pass{
    width: 100%;
    height: 55px;
    position: relative;
}

.sign-up-page .box-container form .pass input{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.sign-up-page .box-container form .pass .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

.sign-up-page .box-container form .pass .icon svg{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.sign-up-page .box-container form button{
    margin-top: 45px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 8px;

}

.sign-up-page .box-container form button::selection{
    display: none;
}

.sign-up-page .box-container form p{
    margin-top: 20px;
    text-align: center;
}

.sign-up-page span.error{
    color: red;
    font-size: 12px;
}